<mat-card class="compose-card">
    <mat-card-title>My Messages</mat-card-title>
  
    <mat-card-content>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Message</mat-label>
        <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
      </mat-form-field>
    </mat-card-content>
  
    <mat-card-actions align="end">
      <button mat-raised-button color="accent" (click)="onAddPost()">
        Save post
      </button>
    </mat-card-actions>
  </mat-card>